<div class="ui card">
  <div class="content">
    <p class="header">
      Hello <%= @user.first_name %>,
    </p>
  </div>

  <div class="extra content">
    <%= link_to "View Lists", user_lists_path(@user) %>
    <%= link_to "Edit", edit_user_path(@user)%>
    <%= link_to "Back", users_path %>
   </div>
  
</div>